@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:hsl(0, 0%, 8%);
}

.container{
  background-color:hsl(0, 0%, 12%);
  width: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 3rem 3rem;
  align-items: center;
  gap: 20px;
}

.container img{
  width: 100px;
  border-radius: 50%;
}
.container .avatar-information{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.avatar-information h2{
  font-weight: 600;
  font-size: 30px;
}

.avatar-information p{
  color: hsl(75, 94%, 57%);
  font-weight: 600;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.links a{
  width: 100%;
  padding: 20px 20px;
  background-color:hsl(0, 0%, 20%);
  text-decoration: none;
  color: white;
  text-align: center;
  border-radius: 0.8rem;
  font-weight: 600;
  font-size: 1.1rem;
  transition: 0.5s;
}
.links a:hover{
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}


@media (max-width:375px){
  .container{
    width: 90%;
    max-width: 380px;
    margin: 20px auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
  .container .quote {
    font-size: 14px;
  }

  .links{
    display: flex;
    width: 100%;
  }
}